dotenv==0.9.9
fastapi==0.115.12
importlib-metadata==8.0.0
jaraco.collections==5.1.0
pip-chill==1.0.3
platformdirs==4.2.2
psycopg2-binary==2.9.10
replicate==1.0.4
requests==2.32.3
sqlalchemy==2.0.40
tomli==2.0.1
uvicorn==0.34.1
